<div class="container-fluid page">
    <div class="d-flex page__box p-3 mt-2">Home</div>
    <div class="page__content shadow p-3 position-relative">
        <div class="container">
            <div class="row">
              <div class="col-12">
                <table class="table table-bordered">
                  <thead>
                    <tr>
                      <th scope="col">Titulo</th>
                      <th scope="col">Categoria</th>
                      <th scope="col">Data de Realizacao</th>
                      <th scope="col">No de Bilhetes</th>
                      <th scope="col">Opcoes</th>
                      
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <th scope="row">Festa</th>
                      <td>Show</td>
                      <td>10/12/2021</td>
                      <td>2.846</td>
                      <td>
                        
                        <button type="button" class="btn btn-success"><i class="fas fa-edit"></i>Reservar</button>
                      
                      </td>
                    </tr>
                    <tr>
                      <th scope="row">Venom</th>
                      <td>Cinema</td>
                      <td>11/08/2021</td>
                      <td>0</td>
                      <td>
                        
                      <button type="button" class="btn btn-danger"><i class="far fa-trash-alt"></i>Esgotado</button>
                      </td>
                    </tr>
                    
                  </tbody>
                </table>
              </div>
            </div>
          </div>
    </div>
  </div>