<mat-nav-list>
    <div class="logo py-4">
            Eventos
    </div>
    <mat-divider></mat-divider>
    <h2 matSubheader class="mt-2">APPLICATIONS</h2>
  
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/home">
      <mat-icon>home</mat-icon> Home
    </a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/dashboard">
      <mat-icon>dashboard</mat-icon> Dashboard
    </a>
    <a mat-list-item> <mat-icon>add</mat-icon> Registar Eventos </a>
    <a mat-list-item> <mat-icon>list_alt</mat-icon> Listar Eventos </a>
    <a mat-list-item> <mat-icon>supervised_user_circle</mat-icon> Clientes</a>
    
  </mat-nav-list>